version: "3.9"

services:
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    expose:
      - "3000"

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:80"
    depends_on:
      - auth-service

  pg:
    image: postgres:15-alpine
    container_name: shared-pg-db
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
